@model EF.Models.ViewModel.Category.productToproperty

@{
    ViewBag.Title = "addProperties";

}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(
        new SelectListItem { Text = "Text", Value = "Text", Selected = true });
    listItems.Add(
       new SelectListItem { Text = "Radio", Value = "Radio" });
    listItems.Add(
    new SelectListItem { Text = "Check", Value = "Check" });
    listItems.Add(
        new SelectListItem { Text = "Select", Value = "Select" });
    }



<h2>@Model.category.categoryName</h2>

@using (Html.BeginForm("addProperties","Category",FormMethod.Post,new {@id="myform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x=>x.category.categoryId);
        <div class="form-group">
            @Html.LabelFor(model => model.property.propertyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.property.propertyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.property.propertyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.property.propertyType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.property.propertyType, new SelectList(listItems, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "getsubCategories()", id = "categoryId" })
                @Html.ValidationMessageFor(model => model.property.propertyType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    /*$(document).ready(function () {
        //alert();
        $("div#subCat").hide();
        getsubCategories = function () {
            //alert($("#categoryId").val());
            $.ajax({
                url: "/Category/getsubCategories",
                data: { Id: $("#categoryId").val() },
                success: function (response) {
                    if (response!=0) {
                        $("div#subCat").show();
                        $("div#subCat select").empty();
                        $.each(response, function (i, data) {
                           // alert(JSON.stringify(data));
                            $("div#subCat select").append(
                                $('<option></option>').val(data.categoryId).html(data.categoryName)
                            );
                        });
                    }
                    else  {
                        $("div#subCat").hide();
                    }
                }
            });
        }
        var propertyId=0
        // Add property
  /* $("#myform").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
               type: "POST",
               url: url,
               data: form.serialize(), // serializes the form's elements.
               success: function(data)
               {
                   alert(data); // show response from the php script.
               }
             });
    });
    */


            /*var div=$("div#properties");
            propertyId++;
            div.append('<div class="form-group">');
            div.append('<label class="control-label col-md-2">property Name</label>');
            div.append('<div class="col-md-10"><input type="text" name="ozellik[' + propertyId + '].propertyName" id=name=ozellik[' + propertyId + '].propertyName" class="form-control" /></div></div>');


            div.append('<div class="form-group">');
            div.append('<label class="control-label col-md-2">property Type</label>');
            div.append('<div class="col-md-10"><select name=ozellik[' + propertyId + '].propertyType" id=name=ozellik[' + propertyId + '].propertyType" class="form-control"><option value="Text" selected>Text</option> ' +
                '<option value="Check">Check</option>'+
                '<option value="Radio">Radio</option>'+
                '<option value="Select">Select</option></select></div></div></div>');




      
    });
   */
</script>