@model IEnumerable<EF.Models.ViewModel.Category.CatSubCat>

@{
    ViewBag.Title = "Index";
}

<h4>Kategoriler</h4>

<p>
    @Html.ActionLink("Yeni Kategori", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Kategori No")
        </th>
        <th>
            @Html.DisplayName("Kategori")
        </th>
        <th>
            @Html.DisplayName("Alt Kategori")
        </th>
        <th>
            @Html.DisplayName("Açıklama")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
        @Html.DisplayFor(modelItem => item.categoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.ActionLink("Özellikler", "properties", new { id = item.categoryId }) |
            @Html.ActionLink("Değiştir", "Edit", new { id = item.categoryId }) |

            @Html.ActionLink("Sil", "Delete", new { id = item.categoryId })
        </td>
    </tr>
}

</table>
