@model IEnumerable<EF.Models.ViewModel.Category.CatSubCat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Category Id")
        </th>
        <th>
            @Html.DisplayName("Category Name")
        </th>
        <th>
            @Html.DisplayName("Sub Category Name")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
        @Html.DisplayFor(modelItem => item.categoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.ActionLink("Properties", "properties", new { id = item.categoryId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.categoryId }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.categoryId })
        </td>
    </tr>
}

</table>
