@model IEnumerable<EF.Models.properties>

@{
    ViewBag.Title = "properties";
}
<h4 style="text-align:center">@(Model.First(x=>x.categoryId==ViewBag.id).category.categoryName) Özellikleri</h4>

<p>
    @Html.ActionLink("Yeni Özellik Ekle", "addProperties",new { id=ViewBag.id})
 |
    @Html.ActionLink("Kategorilere Dön", "properties", new { id = ViewBag.id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Özellik")
        </th>
        <th>
            @Html.DisplayName("Tip")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.propertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.propertyType)
        </td>
        <td>
            @Html.ActionLink("Değiştir", "editProperties", new {  id=item.propertyId }) |
          
            @Html.ActionLink("Sil", "DeleteProperties", new {  id=item.propertyId  })
        </td>
    </tr>
}

</table>
