@model EF.Models.product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Silmek istediğinizden Emin misiniz?</h4>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ürün Adı")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayName("Kategori")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.categoryName)
        </dd>

        <dt>
            @Html.DisplayName("Stok")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayName("Fiyat")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayName("Açıklama")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDesc)
        </dd>

        <dt>
            @Html.DisplayName("İndirim")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

      

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
