@model IEnumerable<EF.Models.product>

@{
    ViewBag.Title = "Index";
}

<h4 style="text-align:center">Ürünler</h4>

<p>
    @Html.ActionLink("Yeni Ürün", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ürün")
        </th>
        <th>
            @Html.DisplayName("Kategori")
        </th>
        <th>
            @Html.DisplayName("Stok")
        </th>
        <th>
            @Html.DisplayName("Fiyat")
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
       
        <td>
           
            @Html.ActionLink("Değiştir", "Edit", new { id=item.productId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.productId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.productId })
        </td>
    </tr>
}

</table>
