
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7" style="border:1px solid #FE980F;    border-radius: 5px;">
                <div class="form-wrap">
                    <h2 class="mb-5" style="color:#FE980F">Forgot Password</h2>
                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                    {
                        if (ViewBag.Message != null)
                        {
                            <div class="alert alert-success">
                                <strong>Tebrikler! </strong>@ViewBag.Message
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control py-2", placeholder = "Email" } })

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <button type="submit" class="btn btn-primary px-5 py-2">Reset</button>
                                </div>
                            </div>

                        }
                        if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Error!</strong>@ViewBag.Message
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
